<h1>{{title}}</h1>
<div id="explfb-header">{{mainHeader}}</div>
<div id="explfb-container">
    <div id="explfb-menu">
        <div>{{subHeader}}</div>
        <a id="howoften" href="javascript:;">{{howOften}}</a><br />
        <a id="how" href="javascript:;">{{how}}</a><br />
        <a id="situations" href="javascript:;">{{situationsDiffer}}</a><br />
        <a id="otherlearners" href="javascript:;">{{otherLearners}}</a><br />
        <a id="othertests" href="javascript:;">{{otherTests}}</a><br />
        <a id="yourtargets" href="javascript:;">{{yourTargets}}</a><br />
        <a id="reallife" href="javascript:;">{{realLife}}</a><br />
        <a id="otherreasons" href="javascript:;">{{otherReasons}}</a><br />
    </div> <!-- /explfb-menu -->
    <div id="explfb-content">
    </div> <!-- explfb-content -->
    <div style="clear: both;"></div>
</div> <!-- /explfb-container -->

