<p id="advfb-level-header">{{{header}}}</p>
<table cols="4">
    <thead>
        <tr><th></th><th>A2</th><th class="advfb-selected-level">B1</th><th>B2</th></tr>
    </thead>
    <tbody>
        <tr>
            <td class="advfb-leftcol">{{row1heading}}</td>
            <td>{{{row1texta2}}}</td>
            <td class="advfb-selected-level">{{{row1textb1}}}</td>
            <td>{{{row1textb2}}}</td>
        </tr>
        <tr>
            <td class="advfb-leftcol">{{row2heading}}</td>
            <td>{{{row2texta2}}}</td>
            <td class="advfb-selected-level">{{{row2textb1}}}</td>
            <td>{{{row2textb2}}}</td>
        </tr>
        <tr>
            <td class="advfb-leftcol">{{row3heading}}</td>
            <td>{{{row3texta2}}}</td>
            <td class="advfb-selected-level">{{{row3textb1}}}</td>
            <td>{{{row3textb2}}}</td>
        </tr>
    </tbody>
</table>
