<div id="advfb-buttonbar">
    <button id="advfb-a1-button">A1</button>
    <button id="advfb-a2-button">A2</button>
    <button id="advfb-b1-button">B1</button>
    <button id="advfb-b2-button">B2</button>
    <button id="advfb-c1-button">C1</button>
    <button id="advfb-c2-button">C2</button>
    <button id="advfb-next-level-button"></button>
</div> <!-- /advfb-buttonbar -->
<div id="advfb-content">
</div> <!-- /advfb-content -->
<div class="bottom-margin"></div>

