<p id="advfb-level-header">{{{header}}}</p>
<table cols="3">
    <thead>
        <tr><th></th><th>C1</th><th class="advfb-selected-level">C2</th></tr>
    </thead>
    <tbody>
        <tr>
            <td class="advfb-leftcol">{{row1heading}}</td>
            <td>{{{row1textc1}}}</td>
            <td class="advfb-selected-level">{{{row1textc2}}}</td>
        </tr>
        <tr>
            <td class="advfb-leftcol">{{row2heading}}</td>
            <td>{{{row2textc1}}}</td>
            <td class="advfb-selected-level">{{{row2textc2}}}</td>
        </tr>
        <tr>
            <td class="advfb-leftcol">{{row3heading}}</td>
            <td>{{{row3textc1}}}</td>
            <td class="advfb-selected-level">{{{row3textc2}}}</td>
        </tr>
    </tbody>
</table>
