<p id="advfb-level-header">{{{header}}}</p>
<table cols="4">
    <thead>
        <tr><th></th><th>A1</th><th class="advfb-selected-level">A2</th><th>B1</th></tr>
    </thead>
    <tbody>
        <tr>
            <td class="advfb-leftcol">{{row1heading}}</td>
            <td>{{{row1texta1}}}</td>
            <td class="advfb-selected-level">{{{row1texta2}}}</td>
            <td>{{{row1textb1}}}</td>
        </tr>
        <tr>
            <td class="advfb-leftcol">{{row2heading}}</td>
            <td>{{{row2texta1}}}</td>
            <td class="advfb-selected-level">{{{row2texta2}}}</td>
            <td>{{{row2textb1}}}</td>
        </tr>
        <tr>
            <td class="advfb-leftcol">{{row3heading}}</td>
            <td>{{{row3texta1}}}</td>
            <td class="advfb-selected-level">{{{row3texta2}}}</td>
            <td>{{{row3textb1}}}</td>
        </tr>
    </tbody>
</table>
