<p id="advfb-level-header">{{{header}}}</p>
<table cols="3">
    <thead>
        <tr><th></th><th class="advfb-selected-level">A1</th><th>A2</th></tr>
    </thead>
    <tbody>
        <tr>
            <td class="advfb-leftcol">{{row1heading}}</td>
            <td class="advfb-selected-level">{{{row1texta1}}}</td>
            <td>{{{row1texta2}}}</td>
        </tr>
        <tr>
            <td class="advfb-leftcol">{{row2heading}}</td>
            <td class="advfb-selected-level">{{{row2texta1}}}</td>
            <td>{{{row2texta2}}}</td>
        </tr>
        <tr>
            <td class="advfb-leftcol">{{row3heading}}</td>
            <td class="advfb-selected-level">{{{row3texta1}}}</td>
            <td>{{{row3texta2}}}</td>
        </tr>
    </tbody>
</table>
