<div id="large-logo-wrapper"><img src="/images/dlogo_large_dark.gif"/></div>
<form action="/setals" method="POST">
    <select id="al-dropdown" name="al">
        {{#languages}}
        <option value="{{locale}}">{{description}}</option>
        {{/languages}}
    </select>
    <br />
    <br />
    <input type="submit" value="Ok" />
</form>
<div id="funder">{{fundermessage}}</div>
