<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="google" value="notranslate">
        <link rel="stylesheet" type="text/css" href="/dialang-content/css/dialang.css" media="all"/>
    </head>
    <body>
        <div id="container">
            <div id="topbar">
                <div id="logo"><img src="/dialang-content/images/Logo.gif"/></div> 
            </div> <!-- /topbar -->
            <div id="content">
                <div id="large-logo-wrapper"><img src="/dialang-content/images/dlogo_large_dark.gif"/></div>
                <form action="/setals" method="POST">
                    <select id="al-dropdown" name="al">
                        {{#languages}}
                        <option value="{{locale}}">{{description}}</option>
                        {{/languages}}
                    </select>
                    <br />
                    <br />
                    <input type="submit" value="Ok" />
                </form>
                <div id="funder">{{fundermessage}}</div>
            </div> <!-- /content -->
            <div class="bottom-margin"></div>
        </div> <!-- /container -->
    </body>
</html>
