<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../css/dialang.css" media="all"/>
        <script type="text/javascript" src="../js/jquery-1.8.3.js"></script>
        <style type="text/css">
            #content > table > tbody > tr > td {
                white-space: nowrap;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="topbar">
                <div id="navbar" style="display: none;">
                    <button id="skipback"><img src="../images/skipb.gif"/></button>
                    <button id="back"><img src="../images/prev.gif"/></button>
                    <button id="next"><img src="../images/next.gif"/></button>
                    <button id="skipforward"><img src="../images/skipf.gif"/></button>
                    <button id="help"><img src="../images/help.gif" height="23px;"/></button>
                </div>  <!-- /navbar -->
                <div id="logo"><img src="../images/Logo.gif"/></div> 
            </div> <!-- /topbar -->
            <div id="content">
                <div style="text-align: center;margin-left: auto;margin-right: auto; margin-top: 20px;"><img src="../images/dlogo_large_dark.gif"/></div>
                <select id="al-dropdown">
                {{#languages}}
                    <option value="{{locale}}">{{description}}</option>
                {{/languages}}
                </select>
                <div id="funder">{{fundermessage}}</div>
            </div> <!-- /content -->
            <div style="height: 20px;"></div>
        </div> <!-- /container -->
        <script type="text/javascript">
            $('#al-dropdown').change( function(e) {
                var locale = $(this).find("option:selected").first().attr('value');
                window.location = "legend/" + locale + ".html";
            });
        </script>
    </body>
</html>
