<div id="media">
<audio id="audio" preload="auto">
    <source src="/dialang-content/media/audio/{{filename}}.mp3" type="audio/mpeg">
    <source src="/dialang-content/media/audio/{{filename}}.ogg" type="audio/ogg">
    <p>Your browser does not support the <code>audio</code> element.</p>
</audio>
<button id="playaudio" disabled><img src="/dialang-content/images/SpkNotPressed.gif" /></button>
<script type="text/javascript" src="/dialang-content/js/audiomedia.js"></script>
</div> <!-- /media -->
