<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../../../css/dialang.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="../../../css/smoothness/jquery-ui-1.9.2.custom.min.css" media="all"/>
        <script type="text/javascript" src="../../../js/jquery-1.8.3.js"></script>
        <script src="../../../js/jquery-ui-1.9.2.custom.min.js"></script>
    </head>
    <body>
        <div id="container">

            <div id="topbar">
                <div id="navbar">
                    <button id="skipback" disabled><img src="../../../images/skipb.gif"/></button>
                    <button id="back" title="{{prevtooltip}}" disabled><img src="../../../images/prev.gif"/></button>
                    <button id="next" title="{{nexttooltip}}" disabled><img src="../../../images/next.gif"/></button>
                    <button id="skipforward" title="{{skipftooltip}}"><img src="../../../images/skipf.gif"/></button>
                    <button id="help"><img src="../../../images/help.gif" height="23px;"/></button>
                    <button id="instfb"><img src="../../../images/instantFeedbackOff.gif" height="23px;"/></button>
                    <button id="keyboard"><img src="../../../images/keyb.gif" height="23px;"/></button>
                    <span id="progressbar"></span>
                </div>  <!-- /navbar -->
                <div id="logo"><img src="../../../images/Logo.gif"/></div> 
            </div> <!-- /topbar -->

            <div id="content">
                <div id="basket">
                    <div id="rubric">
                        <div id="rubric-image"><img src="../../../images/Inform.gif"/></div>
                        <div id="rubric-text">{{rubricText}}</div>
                        <div style="clear: both;"></div>
                    </div> <!-- /rubric -->
                    {{{mediaMarkup}}}
                    <div id="response">
                    <form id="basketform" method="POST" action="/dialang/submitbasket">
                        <input type="hidden" name="basketId" value="{{basketId}}" />
                        <input type="hidden" name="type" value="{{type}}" />
                        {{{responseMarkup}}}
                    </form>
                    </div> <!-- /response -->
                </div> <!-- /basket -->
            </div> <!-- /content -->

            <div class="bottom-margin"></div>

        </div> <!-- /container -->

        <script type="text/javascript" src="../../../js/dialang.js"></script>
        <script type="text/javascript" src="../../../js/basket.js"></script>
    </body>
</html>
