<div class="explfb-title">{{title}}</div>
<p class="explfb-part">{{part1}}</p>
<p class="explfb-part">{{{part2}}}</p>
<p class="explfb-part">{{{part3}}}</p>
<p class="explfb-part">{{{part4}}}</p>
<p class="explfb-part">{{{part5}}}</p>
