<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="google" value="notranslate">
        <link rel="stylesheet" type="text/css" href="../../css/dialang.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="../../css/smoothness/jquery-ui-1.9.2.custom.min.css" media="all"/>
        <script type="text/javascript" src="../../js/jquery-1.8.3.js"></script>
        <script src="../../js/jquery-ui-1.9.2.custom.min.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="topbar">
                <div id="navbar">
                    <button id="skipback" title="{{skipbtooltip}}"><img src="../../images/skipb.gif"/></button>
                    <button id="back" disabled><img src="../../images/prev.gif"/></button>
                    <button id="next" disabled><img src="../../images/next.gif"/></button>
                    <button id="skipforward" title="{{skipbtooltip}}"><img src="../../images/skipf.gif"/></button>
                    <button id="help"><img src="../../images/help.gif" height="23px;"/></button>
                </div>  <!-- /navbar -->
                <div id="logo"><img src="../../images/Logo.gif"/></div> 
            </div> <!-- /topbar -->
            <div id="content">
                <h1 id="welcome-title">{{{title}}}</h1>
                <p id="welcome-text">{{{text}}}</p>
                <div id="results-title">{{{resultsTitle}}}</div>
                <div><button id="your-level-button" class="feedback-menu-button">{{yourLevelText}}</button></div>
                <div><button id="check-answers-button" class="feedback-menu-button">{{checkAnswersText}}</button></div>
                <div><button id="placement-test-button" class="feedback-menu-button">{{placementTestText}}</button></div>
                <div><button id="sa-feedback-button" class="feedback-menu-button">{{saFeedbackText}}</button></div>
                <div id="advice-title">{{{adviceTitle}}}</div>
                <div><button id="advice-button" class="feedback-menu-button">{{adviceText}}</button></div>
                <div><button id="about-sa-button" class="feedback-menu-button">{{aboutSAText}}</button></div>
            </div> <!-- /content -->
            <div class="bottom-margin"></div>
        </div> <!-- /container -->
        <script type="text/javascript" src="../../js/dialang.js"></script>
        <script type="text/javascript" src="../../js/feedbackmenu.js"></script>
    </body>
</html>
