{
    "skipback":       "",
    "back":           "{{prevtooltip}}",
    "next":           "{{nexttooltip}}",
    "skipforward":    "",
    "help":           "{{help}}",
    "welcomeTitle":   "{{{welcomeTitle}}}",
    "welcomeText":    "{{{welcomeText}}}",
    "procedureTitle": "{{{procedureTitle}}}",
    "procedureText":  "{{{procedureText}}}",
    "stage1Title":    "{{stage1Title}}",
    "stage1":         "{{stage1}}",
    "stage2Title":    "{{stage2Title}}",
    "stage2":         "{{stage2}}",
    "stage3Title":    "{{stage3Title}}",
    "stage3":         "{{stage3}}",
    "stage4Title":    "{{stage4Title}}",
    "stage4":         "{{stage4}}",
    "stage5Title":    "{{stage5Title}}",
    "stage5":         "{{stage5}}"
}
