<div id="prompt">{{{basketPrompt}}}</div>
<div id="radios">
    <span>{{{markup}}}</span>
</div> <!-- /radios -->

{{#items}}
<input type="hidden" name="{{id}}-position" value="{{positionInBasket}}" />
{{/items}}

<script type="text/javascript" src="../../../js/gdresponse.js"></script>
