<div class="explfb-title">{{title}}</div>
<p class="explfb-part">{{howoften1}}</p>
<ul class="explfb-list">
    <li><a id="infrequently" href="javascript:;">{{bullet1}}</a></li>
    <li><a id="longtime" href="javascript:;">{{bullet2}}</a></li>
</ul>
<p class="explfb-part">{{howoften2}}</p>
