                {{!
                    This is built by DialangExporter.scala and is used by itemreview.js when the item table
                    is rendered. It basically gives us the subskill descriptions in the leftmost column.
                }}
                <script type="text/javascript">
                    var subskillLookup = {
                        {{#subskills}}
                        '{{code}}':'{{description}}',
                        {{/subskills}}
                    };
                </script>
                <h1>{{title}}</h1>
                <p>{{{text}}}</p>
                <div id="item-table">
                </div> <!-- /item-table -->
                <div class="bottom-margin"></div>
