                <h1 id="welcome">{{{welcome}}}</h1>
                <div id="legend">
                    <span>{{key}}</span>
                    <table id="legend-table" cols="2">
                        <tr><td><img src="/images/next.gif"/></td><td><td>{{next}}</td></tr>
                        <tr><td><img src="/images/prev.gif"/></td><td><td>{{back}}</td></tr>
                        <tr><td><img src="/images/skipf.gif"/></td><td><td>{{skipf}}</td></tr>
                        <tr><td><img src="/images/skipb.gif"/></td><td><td>{{skipb}}</td></tr>
                        <tr><td><img src="/images/help.gif"/></td><td><td>{{help}}</td></tr>
                        <tr><td><img src="/images/littleyes.gif"/></td><td><td>{{yes}}</td></tr>
                        <tr><td><img src="/images/littleno.gif"/></td><td><td>{{no}}</td></tr>
                        <tr><td><img src="/images/smiley.gif"/></td><td><td>{{smiley}}</td></tr>
                        <tr><td><img src="/images/keyb.gif"/></td><td><td>{{keyboard}}</td></tr>
                        <tr><td><img src="/images/speaker.gif"/></td><td><td>{{speaker}}</td></tr>
                    </table>
                </div> <!-- /legend -->
                <div class="bottom-margin"></div>
