{
    "skipback":    "",
    "back":        "{{prevtooltip}}",
    "next":        "{{nexttooltip}}",
    "skipforward": "",
    "help":        "{{help}}",
    "welcome":     "{{{welcome}}}",
    "key":         "{{key}}",
    "next":        "{{next}}",
    "back":        "{{back}}",
    "skipf":       "{{skipf}}",
    "skipb":       "{{skipb}}",
    "yes":         "{{yes}}",
    "no":          "{{no}}",
    "smiley":      "{{smiley}}",
    "keyboard":    "{{keyboard}}",
    "speaker":     "{{speaker}}"
}
