<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../../css/dialang.css" media="all"/>
        <script type="text/javascript" src="../../js/jquery-1.8.3.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="topbar">
                <div id="navbar">
                    <button id="skipback" disabled><img src="../../images/skipb.gif"/></button>
                    <button id="back" title="{{prevtooltip}}"><img src="../../images/prev.gif"/></button>
                    <button id="next" title="{{nexttooltip}}"><img src="../../images/next.gif"/></button>
                    <button id="skipforward" disabled><img src="../../images/skipf.gif"/></button>
                    <button id="help"><img src="../../images/help.gif" height="23px;"/></button>
                </div>  <!-- /navbar -->
                <div id="logo"><img src="../../images/Logo.gif"/></div> 
            </div> <!-- /topbar -->
            <div id="content">
                <h1 id="welcome">{{{welcome}}}</h1>
                <div id="legend">
                    <span>{{key}}</span>
                    <table id="legend-table" cols="2">
                        <tr><td><img src="../../images/next.gif"/></td><td><td>{{next}}</td></tr>
                        <tr><td><img src="../../images/prev.gif"/></td><td><td>{{back}}</td></tr>
                        <tr><td><img src="../../images/skipf.gif"/></td><td><td>{{skipf}}</td></tr>
                        <tr><td><img src="../../images/skipb.gif"/></td><td><td>{{skipb}}</td></tr>
                        <tr><td><img src="../../images/help.gif"/></td><td><td>{{help}}</td></tr>
                        <tr><td><img src="../../images/littleyes.gif"/></td><td><td>{{yes}}</td></tr>
                        <tr><td><img src="../../images/littleno.gif"/></td><td><td>{{no}}</td></tr>
                        <tr><td><img src="../../images/smiley.gif"/></td><td><td>{{smiley}}</td></tr>
                        <tr><td><img src="../../images/keyb.gif"/></td><td><td>{{keyboard}}</td></tr>
                        <tr><td><img src="../../images/speaker.gif"/></td><td><td>{{speaker}}</td></tr>
                    </table>
                </div> <!-- /legend -->
                <div class="bottom-margin"></div>
            </div> <!-- /content -->
            <div class="bottom-margin"></div>
        </div> <!-- /container -->
        <script type="text/javascript" src="../../js/dialang.js"></script>
        <script type="text/javascript" src="../../js/legend.js"></script>
    </body>
</html>
