<input type="hidden" name="itemId" value="{{itemId}}" />
<div id="prompt">{{{itemtext}}}</div>
<div id="radios">
    {{#answers}}
    <input type="radio" id="{{answerId}}" name="response" value="{{answerId}}" />
    <label for="{{answerId}}">{{{text}}}</label><br />
    {{/answers}}
</div> <!-- /radios -->
