<input type="hidden" name="itemId" value="{{itemId}}" />
<div id="prompt">{{{itemtext}}}</div>
<div id="radios">
    {{#answers}}
    <input type="radio" name="response" value="{{answerId}}" />{{{text}}}<br />
    {{/answers}}
</div> <!-- /radios -->
