<div class="explfb-title">{{title1}}</div>
<p class="explfb-part">{{part1}}</p>
<ul class="explfb-list">
    <li>{{bullet1}}</li>
    <li>{{bullet2}}</li>
</ul>
<p class="explfb-part">{{{part2}}}</p>
<div class="explfb-title">{{title2}}</div>
<p class="explfb-part">{{{part3}}}</p>
<p class="explfb-part">{{{part4}}}</p>
