<div class="explfb-title">{{title}}</div>
<p class="explfb-part">{{part1}}</p>
<ul class="explfb-list">
    <li><a id="differenttests" href="javascript:;">{{bullet1}}</a></li>
    <li><a id="schooltests" href="javascript:;">{{bullet2}}</a></li>
    <li><a id="worktests" href="javascript:;">{{bullet3}}</a></li>
    <li><a id="internationaltests" href="javascript:;">{{bullet4}}</a></li>
</ul>
<p class="explfb-part">{{{part2}}}</p>
