<div class="explfb-title">{{title}}</div>
<p class="explfb-part">{{part1}}</p>
<p class="explfb-part">{{part2}}</p>
<ul class="explfb-list">
    <li><a id="anxiety" href="javascript:;">{{bullet1}}</a></li>
    <li><a id="timeallowed" href="javascript:;">{{bullet2}}</a></li>
    <li><a id="support" href="javascript:;">{{bullet3}}</a></li>
    <li><a id="number" href="javascript:;">{{bullet4}}</a></li>
    <li><a id="familiarity" href="javascript:;">{{bullet5}}</a></li>
    <li><a id="medium" href="javascript:;">{{bullet6}}</a></li>
</ul>
