                <script type="text/javascript">

                    var answered = {
                        {{#statements}}
                        '{{wid}}':false,
                        {{/statements}}
                    };

                </script>
                <h1>{{title}}</h1>
                <form id="saform" action="/scoresa" method="POST">
                    <input type="hidden" name="al" value="{{al}}"/>
                    <table id="sa-table" cols="3">
                    <tbody>
                        <tr><td>{{yes}}</td><td>{{no}}</td><td></td></tr>
                        {{#statements}}
                        <tr>
                            <td><input class="valid-button statement" id="{{wid}}_valid" type="radio" name="statement:{{wid}}" value="yes"/></td>
                            <td><input class="invalid-button statement" id="{{wid}}_invalid" type="radio" name="statement:{{wid}}" value="no"/></td>
                            <td>{{statement}}</td>
                        </tr>
                        {{/statements}}
                    </tbody>
                    </table>
                    <input id="send-button" type="button" value="{{submit}}" disabled/>
                </form>
                <div id="confirm-send-dialog" class="dialang-dialog" title="{{confirmationTitle}}">
                    <p>{{confirmsendquestion}}</p>
                    <table cols="2">
                        <tbody>
                            <tr>
                                <td align="center"><button id="confirm-send-yes"><img src="/dialang-content/images/yes.gif"/></button></td>
                                <td align="center"><button id="confirm-send-no"><img src="/dialang-content/images/no.gif" width="58" height="58"/></button></td>
                            </tr>
                            <tr>
                                <td align="center">{{yes}}</td><td align="center">{{no}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- /confirm-send-dialog -->
                <div id="confirm-skip-dialog" class="dialang-dialog" title="{{confirmationTitle}}">
                    <p>{{{warningText}}}</p>
                    <table cols="2">
                        <tbody>
                            <tr>
                                <td align="center"><button id="confirm-skip-yes"><img src="/dialang-content/images/yes.gif"/></button></td>
                                <td align="center"><button id="confirm-skip-no"><img src="/dialang-content/images/no.gif" width="58" height="58"/></button></td>
                            </tr>
                            <tr>
                                <td align="center">{{yes}}</td><td align="center">{{no}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- /confirm-skip-dialog -->
