<html lang="utf-8">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../../../css/dialang.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="../../../css/smoothness/jquery-ui-1.9.2.custom.min.css" media="all"/>
        <script type="text/javascript" src="../../../js/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="../../../js/jquery-ui-1.9.2.custom.min.js"></script>
        <script type="text/javascript">

            var answered = {
                {{#statements}}
                '{{wid}}':false,
                {{/statements}}
                };

            $(document).ready(function () {
                $(".valid-button").click(function () {
                    var statementId = this.id.substring(0,this.id.indexOf('_'));
                    $("[for=" + this.id + "]").html("<img src=\"../../../images/trueselected.gif\"/>");
                    $("[for=" + statementId + "_invalid]").html("<img src=\"../../../images/false.gif\"/>");
                });
                $(".invalid-button").click(function () {
                    var statementId = this.id.substring(0,this.id.indexOf('_'));
                    $("[for=" + this.id + "]").html("<img src=\"../../../images/falseselected.gif\"/>");
                    $("[for=" + statementId + "_valid]").html("<img src=\"../../../images/true.gif\"/>");
                });

                $('.statement').click(function () {
                    var statementId = this.id.substring(0,this.id.indexOf('_'));
                    answered[statementId] = true;
                    var statementsSelected = $('.statement');
                    if(statementsSelected.length == 27) {
                    }
                    var allAnswered = true;
                    for(var id in answered) {
                        if(!answered[id]) allAnswered = false; 
                    }
                    if(allAnswered) {
                        $('#sendbutton').removeAttr('disabled');
                        $('#next')
                            .removeAttr('disabled')
                            .click( function (e) {
                            $('#confirmationdialog').dialog('open');
                        });
                    }
                });
            });

        </script>
    </head>
    <body>
        <div id="container">
            <div id="topbar">
                <div id="navbar">
                    <button id="skipback" disabled><img src="../../../images/skipb.gif"/></button>
                    <button id="back" disabled><img src="../../../images/prev.gif"/></button>
                    <button id="next" disabled><img src="../../../images/next.gif"/></button>
                    <button id="skipforward" title="{{skipftooltip}}"><img src="../../../images/skipf.gif"/></button>
                    <button id="help"><img src="../../../images/help.gif" height="23px;"/></button>
                </div>  <!-- /navbar -->
                <div id="logo"><img src="../../../images/Logo.gif"/></div> 
            </div> <!-- /topbar -->
            <div id="content">
                <h1>{{title}}</h1>
                <form id="saform" action="/dialang/recordsa" method="POST">
                    <input type="hidden" name="al" value="{{al}}"/>
                    <table class="sa-table" cols="3">
                    <tbody>
                        <tr><td>{{yes}}</td><td>{{no}}</td><td></td></tr>
                    {{#statements}}
                        <tr>
                            <td><input class="valid-button statement" id="{{wid}}_valid" type="radio" name="statement:{{wid}}" value="yes"/></td>
                            <td><input class="invalid-button statement" id="{{wid}}_invalid" type="radio" name="statement:{{wid}}" value="no"/></td>
                            <td>{{statement}}</td>
                        </tr>
                        {{/statements}}
                    </tbody>
                    </table>
                    <input id="sendbutton" type="button" value="{{submit}}" disabled/>
                </form>
                <div id="confirmationdialog" title="{{confirmationTitle}}">
                    <div style="margin-left: auto; margin-right: auto;">
                    <p>{{confirmsendquestion}}</p>
                    <table cols="2">
                        <tbody>
                            <tr>
                                <td align="center"><button id="confirmation_yes" style="background-color: white;"><img src="../../../images/yes.gif"/></button></td>
                                <td align="center"><button id="confirmation_no" style="background-color: white;"><img src="../../../images/no.gif" width="58" height="58"/></button></td>
                            </tr>
                            <tr>
                                <td align="center">{{yes}}</td><td align="center">{{no}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div> <!-- /content -->
            <div style="height: 20px;"></div>
        </div> <!-- /container -->
        <script type="text/javascript" src="../../../js/dialang.js"></script>
        <script type="text/javascript">
            $(document).keydown(function (e) {
                if(e.keyCode == '72' && e.ctrlKey) {
                    $('.valid-button').attr('checked','checked');
                    $('#sendbutton').removeAttr('disabled');
                    $('#next').removeAttr('disabled');
                    $('#cheatlevel').val('high');
                } else if(e.keyCode == '76' && e.ctrlKey) {
                    $('.invalid-button').attr('checked','checked');
                    $('#sendbutton').removeAttr('disabled');
                    $('#next').removeAttr('disabled');
                    $('#cheatlevel').val('low');
                }
            });
            $('#sendbutton').click( function (e) {
                $('#confirmationdialog').dialog('open');
            });
            $('#next').click( function (e) {
                $('#confirmationdialog').dialog('open');
            });
            $('#confirmationdialog').dialog({modal: true, width: 400, height: 250, autoOpen: false});
            $('#confirmation_yes').click(function (e) { $('#saform').submit(); });
            $('#confirmation_no').click(function (e) { $('#confirmationdialog').dialog('close'); });
            $('#skipforward').click(function () { window.location.href = '/{{al}}/sa'; });
        </script>
    </body>
</html>
