<div id="prompt">{{{basketPrompt}}}</div>
<div id="radios">
    {{#items}}
    <span>{{{text}}}</span>
    <input type="text" name="{{id}}-response" /><br />
    <input type="hidden" name="{{id}}-position" value="{{positionInBasket}}"/><br />
    {{/items}}
</div> <!-- /radios -->
<script type="text/javascript" src="../../../js/saresponse.js"></script>
