<div id="tabbedpane-tabs">
    <ul>
        {{#childBaskets}}
        <li id="{{basketId}}-tab"><a href="#tabs-{{itemId}}"></a></li>
        {{/childBaskets}}
    </ul>
    {{#childBaskets}}
    <div id="tabs-{{itemId}}">
        <div id="prompt">{{{itemtext}}}</div>
        <div id="radios">
            {{#answers}}
            <input type="radio" id="{{answerId}}" basketid="{{basketId}}" name="{{itemId}}-response" value="{{answerId}}" />
            <label for="{{answerId}}">{{{text}}}</label><br />
            {{/answers}}
        </div>
    </div>
    {{/childBaskets}}
</div> <!-- /tabbedpane-tabs -->
{{#childBaskets}}
<input type="hidden" name="{{itemId}}-position" value="{{positionInBasket}}"/><br />
{{/childBaskets}}
<script type="text/javascript">
    var itemIds = [
        {{#childBaskets}}
        {{itemId}},
        {{/childBaskets}}
    ];
</script>
