                <map name="thermometermap">
                    <area shape="rect" coords="30,80,105,130" href="#" onclick="dialang.launchTestLevelDialog('6');" title="C2" alt="C2">
                    <area shape="rect" coords="30,130,105,185" href="#" onclick="dialang.launchTestLevelDialog('5');" title="C1" alt="C1">
                    <area shape="rect" coords="30,175,105,225" href="#" onclick="dialang.launchTestLevelDialog('4');" title="B2" alt="B2">
                    <area shape="rect" coords="30,225,105,270" href="#" onclick="dialang.launchTestLevelDialog('3');" title="B1" alt="B1">
                    <area shape="rect" coords="30,265,105,315" href="#" onclick="dialang.launchTestLevelDialog('2');" title="A2" alt="A2">
                    <area shape="rect" coords="30,315,105,365" href="#" onclick="dialang.launchTestLevelDialog('1');" title="A1" alt="A1">
                </map>
                <div id="thermometer-image">
                    <img src="/images/therm{{itemLevel}}.gif" usemap="#thermometermap"/>
                </div>
                <div id="results-content">
                    <h1 id="welcome">{{{title}}}</h1>
                    <p id="welcome-text">{{{text}}}</p>
                </div>
                <div style="clear:both;"></div>
                <div id="testlevel-dialog1" class="testlevel-dialog" title="{{title}}">
                    <div class="dialang-dialog-content">{{A1Explanation}}</div>
                </div>
                <div id="testlevel-dialog2" class="testlevel-dialog" title="{{title}}">
                    <div class="dialang-dialog-content">{{A2Explanation}}</div>
                </div>
                <div id="testlevel-dialog3" class="testlevel-dialog" title="{{title}}">
                    <div class="dialang-dialog-content">{{B1Explanation}}</div>
                </div>
                <div id="testlevel-dialog4" class="testlevel-dialog" title="{{title}}">
                    <div class="dialang-dialog-content">{{B2Explanation}}</div>
                </div>
                <div id="testlevel-dialog5" class="testlevel-dialog" title="{{title}}">
                    <div class="dialang-dialog-content">{{C1Explanation}}</div>
                </div>
                <div id="testlevel-dialog6" class="testlevel-dialog" title="{{title}}">
                    <div class="dialang-dialog-content">{{C2Explanation}}</div>
                </div>
