                <map name="thermometermap">
                    <area shape="rect" coords="30,80,105,130" href="#" onclick="dialang.launchTestLevelDialog('6');" title="C2" alt="C2">
                    <area shape="rect" coords="30,130,105,185" href="#" onclick="dialang.launchTestLevelDialog('5');" title="C1" alt="C1">
                    <area shape="rect" coords="30,175,105,225" href="#" onclick="dialang.launchTestLevelDialog('4');" title="B2" alt="B2">
                    <area shape="rect" coords="30,225,105,270" href="#" onclick="dialang.launchTestLevelDialog('3');" title="B1" alt="B1">
                    <area shape="rect" coords="30,265,105,315" href="#" onclick="dialang.launchTestLevelDialog('2');" title="A2" alt="A2">
                    <area shape="rect" coords="30,315,105,365" href="#" onclick="dialang.launchTestLevelDialog('1');" title="A1" alt="A1">
                </map>
                <div id="thermometer-image">
                    <img src="/dialang-content/images/therm{{itemLevel}}.gif" usemap="#thermometermap"/>
                </div>
                <div id="results-content">
                    <h1 id="welcome">{{{title}}}</h1>
                    <p id="welcome-text">{{{text}}}</p>
                </div>
                <div style="clear:both;"></div>
                <div id="testleveldialog1" class="testleveldialog" title="{{title}}">
                    <p>{{A1Explanation}}</p>
                </div>
                <div id="testleveldialog2" class="testleveldialog" title="{{title}}">
                    <p>{{A2Explanation}}</p>
                </div>
                <div id="testleveldialog3" class="testleveldialog" title="{{title}}">
                    <p>{{B1Explanation}}</p>
                </div>
                <div id="testleveldialog4" class="testleveldialog" title="{{title}}">
                    <p>{{B2Explanation}}</p>
                </div>
                <div id="testleveldialog5" class="testleveldialog" title="{{title}}">
                    <p>{{C1Explanation}}</p>
                </div>
                <div id="testleveldialog6" class="testleveldialog" title="{{title}}">
                    <p>{{C2Explanation}}</p>
                </div>
