{
    "tlsTitle":           "{{{tlsTitle}}}",
    "listeningTooltip":   "{{listeningTooltip}}",
    "writingTooltip":     "{{writingTooltip}}",
    "structuresTooltip":  "{{structuresTooltip}}",
    "vocabularyTooltip":  "{{vocabularyTooltip}}",
    "done":              "{{done}}",
    "available":         "{{available}}",
    "notavailable":      "{{notavailable}}",
    "disclaimer":        "{{{disclaimer}}}",
    "ok":                "{{ok}}",
    "confirmationTitle": "{{confirmationTitle}}",
    "testChosen":        "{{testChosen}}",
    "yes":               "{{yes}}",
    "no":                "{{no}}",
    "testrows": [{{#testrows}}
        {"languageName": "{{languageName}}","languageCode": "{{languageCode}}"}{{^last}},{{/last}}
        {{/testrows}}]
}
