                <h1 id="tls-title">{{{tlsTitle}}}</h1>
                <table id="tls-table" cols="6">
                    <thead>
                        <tr>
                            <th></th>
                            <th><img src="/dialang-content/images/listening.gif" title="{{listeningTooltip}}"/></th>
                            <th><img src="/dialang-content/images/writing.gif" title="{{writingTooltip}}"/></th>
                            <th><img src="/dialang-content/images/reading.gif" title="{{readingTooltip}}"/></th>
                            <th><img src="/dialang-content/images/hammer.gif" title="{{structuresTooltip}}"/></th>
                            <th><img src="/dialang-content/images/book.gif" title="{{vocabularyTooltip}}"/></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#testrows}}
                        <tr>
                            <td class="language-column">{{languageName}}</td>
                            <td class="language-skill-column"><a id="{{languageCode}}-listening" href="javascript:;" class="tls-link" title="{{languageName}}, {{listeningTooltip}}" tl="{{languageCode}}" skill="listening"><img src="/dialang-content/images/available.gif"/></a></td>
                            <td class="language-skill-column"><a id="{{languageCode}}-writing" href="javascript:;" class="tls-link" title="{{languageName}}, {{writingTooltip}}" tl="{{languageCode}}" skill="writing"><img src="/dialang-content/images/available.gif"/></a></td>
                            <td class="language-skill-column"><a id="{{languageCode}}-reading" href="javascript:;" class="tls-link" title="{{languageName}}, {{readingTooltip}}" tl="{{languageCode}}" skill="reading"><img src="/dialang-content/images/available.gif"/></a></td>
                            <td class="language-skill-column"><a id="{{languageCode}}-structures" href="javascript:;" class="tls-link" title="{{languageName}}, {{structuresTooltip}}" tl="{{languageCode}}" skill="structures"><img src="/dialang-content/images/available.gif"/></a></td>
                            <td class="language-skill-column"><a id="{{languageCode}}-vocabulary" href="javascript:;" class="tls-link" title="{{languageName}}, {{vocabularyTooltip}}" tl="{{languageCode}}" skill="vocabulary"><img src="/dialang-content/images/available.gif"/></a></td>
                        </tr>
                        {{/testrows}}
                    </tbody>
                </table>

                <br />

                <div>
                    <img src="/dialang-content/images/done.gif"/>{{done}}
                    <img src="/dialang-content/images/available.gif"/>{{available}}
                    <img src="/dialang-content/images/notavailable.gif"/>{{notavailable}}
                </div>

                <div id="disclaimer-dialog" title="{{disclaimerTitle}}">
                    <div id="disclaimer-text">{{{disclaimer}}}</div>
                    <div class="dialog-button-panel"><button id="disclaimer-button"><img src="/dialang-content/images/yes.gif"/></button><br />{{ok}}</div>
                </div> <!-- /disclaimer-dialog -->
                <div id="confirmation-dialog" title="{{confirmationTitle}}" class="dialang-dialog">
                    <p>{{testChosen}}</p>
                    <p id="confirmation_langskill"></p>
                    <table cols="2">
                        <tbody>
                            <tr>
                                <td align="center"><button id="confirmation_yes"><img src="/dialang-content/images/yes.gif"/></button></td>
                                <td align="center"><button id="confirmation_no"><img src="/dialang-content/images/no.gif" width="58" height="58"/></button></td>
                            </tr>
                            <tr>
                                <td align="center">{{yes}}</td><td align="center">{{no}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- /confirmation-dialog -->
