<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="../../css/dialang.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="../../css/smoothness/jquery-ui-1.9.2.custom.min.css" media="all"/>
        <script type="text/javascript" src="../../js/jquery-1.8.3.js"></script>
        <script src="../../js/jquery-ui-1.9.2.custom.min.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="topbar">
                <div id="navbar">
                    <button id="skipback" title="{{skipbtooltip}}"><img src="../../images/skipb.gif"/></button>
                    <button id="back" title="{{prevtooltip}}"><img src="../../images/prev.gif"/></button>
                    <button id="next" disabled><img src="../../images/next.gif"/></button>
                    <button id="skipforward" disabled><img src="../../images/skipf.gif"/></button>
                    <button id="help"><img src="../../images/help.gif" height="23px;"/></button>
                </div>  <!-- /navbar -->
                <div id="logo"><img src="../../images/Logo.gif"/></div> 
            </div> <!-- /topbar -->
            <div id="content">
                <h1 id="tls-title">{{{tlsTitle}}}</h1>
                <table id="tls-table" cols="6">
                    <thead>
                        <tr>
                            <th></th>
                            <th><img src="../../images/listening.gif" title="{{listeningTooltip}}"/></th>
                            <th><img src="../../images/writing.gif" title="{{writingTooltip}}"/></th>
                            <th><img src="../../images/reading.gif" title="{{readingTooltip}}"/></th>
                            <th><img src="../../images/hammer.gif" title="{{structuresTooltip}}"/></th>
                            <th><img src="../../images/book.gif" title="{{vocabularyTooltip}}"/></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#testrows}}
                        <tr>
                            <td class="language-column">{{languageName}}</td>
                            <td class="language-skill-column"><a href="/dialang/settls?al={{al}}&tl={{languageCode}}&skill=LISTENING" class="tls-link" title="{{languageName}}, {{listeningTooltip}}"><img src="../../images/available.gif"/></a></td>
                            <td class="language-skill-column"><a href="/dialang/settls?al={{al}}&tl={{languageCode}}&skill=WRITING" class="tls-link" title="{{languageName}}, {{writingTooltip}}"><img src="../../images/available.gif"/></a></td>
                            <td class="language-skill-column"><a href="/dialang/settls?al={{al}}&tl={{languageCode}}&skill=READING" class="tls-link" title="{{languageName}}, {{readingTooltip}}"><img src="../../images/available.gif"/></a></td>
                            <td class="language-skill-column"><a href="/dialang/settls?al={{al}}&tl={{languageCode}}&skill=STRUCTURES" class="tls-link" title="{{languageName}}, {{structuresTooltip}}"><img src="../../images/available.gif"/></a></td>
                            <td class="language-skill-column"><a href="/dialang/settls?al={{al}}&tl={{languageCode}}&skill=VOCABULARY" class="tls-link" title="{{languageName}}, {{vocabularyTooltip}}"><img src="../../images/available.gif"/></a></td>
                        </tr>
                        {{/testrows}}
                    </tbody>
                </table>

                <br />

                <div>
                    <img src="../../images/done.gif"/>{{done}}
                    <img src="../../images/available.gif"/>{{available}}
                    <img src="../../images/notavailable.gif"/>{{notavailable}}
                </div>

                <div id="disclaimerdialog" title="{{disclaimerTitle}}">
                    <div style="height: 275px;overflow: scroll;overflow-x: hidden;">{{{disclaimer}}}</div>
                    <br />
                    <div style="text-align: center;"><button style="background-color: white;" onclick="$('#disclaimerdialog').dialog('close');"><img src="../../images/yes.gif"/></button><br />{{ok}}</div>
                </div>
                <div id="confirmationdialog" title="{{confirmationTitle}}">
                    <div style="margin-left: auto; margin-right: auto;">
                    <p>{{testChosen}}</p>
                    <p id="confirmation_langskill"></p>
                    <table cols="2">
                        <tbody>
                            <tr>
                                <td align="center"><button id="confirmation_yes" style="background-color: white;"><img src="../../images/yes.gif"/></button></td>
                                <td align="center"><button id="confirmation_no" style="background-color: white;"><img src="../../images/no.gif" width="58" height="58"/></button></td>
                            </tr>
                            <tr>
                                <td align="center">{{yes}}</td><td align="center">{{no}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div> <!-- /content -->
            <div style="height: 20px;"></div>
        </div> <!-- /container -->
        <script type="text/javascript">
            $('#back').click(function () { window.location.href = '../flowchart/{{al}}.html'; });
            $('#skipback').click(function () { window.location.href = '../als.html'; });
            $('.tls-link').click(function () {
                var langskill = $(this).attr('title');
                $('#confirmation_langskill').html(langskill);
                var href = $(this).attr('href');
                $('#confirmation_yes').click(function (e) { document.location.href = href; });
                $('#confirmationdialog').dialog('open');
                return false;
            });
            $('#disclaimerdialog').dialog({modal: true, width: 500, height: 450});
            $('#confirmationdialog').dialog({modal: true, width: 500, height: 450, autoOpen: false});
            $('#confirmation_no').click(function (e) { $('#confirmationdialog').dialog('close'); });
        </script>
    </body>
</html>
