                <h1 id="vsptintro-title">{{{title}}}</h1>
                <div id="vsptintro-text">{{{text}}}</div>
                <div class="bottom-margin"></div>
                <div id="confirm-skip-dialog" class="dialang-dialog" title="{{confirmationTitle}}">
                    <p>{{{warningText}}}</p>
                    <table cols="2">
                        <tbody>
                            <tr>
                                <td align="center"><button id="confirm-skip-yes"><img src="/images/yes.gif"/></button></td>
                                <td align="center"><button id="confirm-skip-no"><img src="/images/no.gif" width="58" height="58"/></button></td>
                            </tr>
                            <tr>
                                <td align="center">{{yes}}</td><td align="center">{{no}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- /confirm-skip-dialog -->
