                <script type="text/javascript">

                    var answered = {
                        {{#words}}
                        '{{id}}':false,
                        {{/words}}
                    };

                </script>
                <h1>{{{title}}}</h1>
                <form id="vsptform" action="/scorevspt" method="POST">
                    <input type="hidden" name="al" value="{{al}}"/>
                    <input type="hidden" name="tl" value="{{tl}}"/>
                    <input type="hidden" id="cheatlevel" name="cheatlevel" value="zero"/>
                    <!--input type="hidden" name="skill" value="{{skill}}"/-->
                    <table id="vspt-table" cols="3">
                        <tbody>
                            {{#tab}}
                            <tr>
                                <td><input class="valid-button word {{#isCorrect}}{{id1}}_valid{{/isCorrect}}" id="{{id1}}_correct" type="radio" name="word:{{id1}}" value="valid"/>
                                    <label for="{{id1}}_correct"><img src="/dialang-content/images/true.gif"/></label>
                                    <input class="invalid-button word {{#isCorrect}}{{id1}}_invalid{{/isCorrect}}" id="{{id1}}_incorrect" type="radio" name="word:{{id1}}" value="invalid"/>
                                    <label for="{{id1}}_incorrect"><img src="/dialang-content/images/false.gif"/></label>
                                    {{word1}}
                                </td>
                                <td><input class="valid-button word {{#isCorrect}}{{id2}}_valid{{/isCorrect}}" id="{{id2}}_correct" type="radio" name="word:{{id2}}" value="valid"/>
                                    <label for="{{id2}}_correct"><img src="/dialang-content/images/true.gif"/></label>
                                    <input class="invalid-button word {{#isCorrect}}{{id2}}_invalid{{/isCorrect}}" id="{{id2}}_incorrect" type="radio" name="word:{{id2}}" value="invalid"/>
                                    <label for="{{id2}}_incorrect"><img src="/dialang-content/images/false.gif"/></label>
                                    {{word2}}
                                </td>
                                <td><input class="valid-button word {{#isCorrect}}{{id3}}_valid{{/isCorrect}}" id="{{id3}}_correct" type="radio" name="word:{{id3}}" value="valid"/>
                                    <label for="{{id3}}_correct"><img src="/dialang-content/images/true.gif"/></label>
                                    <input class="invalid-button word {{#isCorrect}}{{id3}}_invalid{{/isCorrect}}" id="{{id3}}_incorrect" type="radio" name="word:{{id3}}" value="invalid"/>
                                    <label for="{{id3}}_incorrect"><img src="/dialang-content/images/false.gif"/></label>
                                    {{word3}}
                                </td>
                            </tr>
                            {{/tab}}
                        </tbody>
                    </table>
                    <img src="/dialang-content/images/true.gif"/> = {{yes}} <img src="/dialang-content/images/false.gif"/> = No <input id="send-button" type="button" value="{{submit}}" disabled/>
                </form>
                <div id="confirm-send-dialog" class="dialang-dialog" title="{{confirmationTitle}}">
                    <p>{{confirmsendquestion}}</p>
                    <table cols="2">
                        <tbody>
                            <tr>
                                <td align="center"><button id="confirm-send-yes"><img src="/dialang-content/images/yes.gif"/></button></td>
                                <td align="center"><button id="confirm-send-no"><img src="/dialang-content/images/no.gif" width="58" height="58"/></button></td>
                            </tr>
                            <tr>
                                <td align="center">{{yes}}</td><td align="center">{{no}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- /confirm-send-dialog -->
                <div id="confirm-skip-dialog" class="dialang-dialog" title="{{confirmationTitle}}">
                    <p>{{{warningText}}}</p>
                    <table cols="2">
                        <tbody>
                            <tr>
                                <td align="center"><button id="confirm-skip-yes"><img src="/dialang-content/images/yes.gif"/></button></td>
                                <td align="center"><button id="confirm-skip-no"><img src="/dialang-content/images/no.gif" width="58" height="58"/></button></td>
                            </tr>
                            <tr>
                                <td align="center">{{yes}}</td><td align="center">{{no}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- /confirm-skip-dialog -->
