      <div id="large-logo-wrapper">
        <img src="/images/dlogo_large_dark.gif"/>
      </div>
      <select id="al-dropdown">
        {{#languages}}
        <option value="{{locale}}">{{description}}</option>
        {{/languages}}
      </select>
      <br />
      <br />
      <div id="funder">{{fundermessage}}</div>
      <script src="/js/als.js"></script>
