<div id="large-logo-wrapper">
  <img src="/prod/assets/images/dlogo_large_dark.gif"/>
</div>
<select id="al-dropdown">
  {{#languages}}
  <option value="{{locale}}">{{description}}</option>
  {{/languages}}
</select>
<script src="/prod/assets/js/als.js"></script>
<br />
<br />
<div id="funder">{{fundermessage}}</div>

