                <script type="text/javascript">
                    var instantFeedbackOnTooltip = '{{instantfeedbackontooltip}}';
                    var instantFeedbackOffTooltip = '{{instantfeedbackofftooltip}}';
                </script>
                <h1 id="testintro-title">{{title}}</h1>
                <div id="testintro-text">{{{text}}}</div>
                <div class="bottom-margin"></div>
                <button id="feedback-button" title="{{instantfeedbackontooltip}}"><img src="/{{stage}}/assets/images/instantFeedbackOff.gif"/></button><span id="feedback-label">{{feedback}}</span>
                <div id="confirm-skip-dialog" class="dialang-dialog" title="{{confirmationTitle}}">
                    <div class="dialang-dialog-content">
                        <p>{{{warningText}}}</p>
                        <div id="confirmation-button-table">
                            <div>
                                <div><button id="confirm-skip-yes"><img src="/{{stage}}/assets/images/yes.gif"/></button></div>
                                <div><button id="confirm-skip-no"><img src="/{{stage}}/assets/images/no.gif" width="58" height="58"/></button></div>
                            </div>
                            <div>
                                <div>{{yes}}</div><div>{{no}}</div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /confirm-skip-dialog -->
