          <script>

            var answered = {
              {{#words}}
              '{{id}}':false,
              {{/words}}
            };

          </script>
          <h1>{{{title}}}</h1>
          <img src="/{{stage}}/assets/images/true.gif"/> = {{yes}} <img src="/{{stage}}/assets/images/false.gif"/> = {{no}}
          <form id="vsptform" action="/{{stage}}/scorevspt" method="POST">
            <input type="hidden" name="al" value="{{al}}"/>
            <input type="hidden" name="tl" value="{{tl}}"/>
            <input type="hidden" id="cheatlevel" name="cheatlevel" value="zero"/>
            <!--input type="hidden" name="skill" value="{{skill}}"/-->
            <div id="vspt-table">
              {{#tab}}
              <div>
                <div>
                  <label for="{{id1}}_correct">
                    <input class="valid-button word {{valid_class_1}}" id="{{id1}}_correct" type="radio" name="word:{{id1}}" value="valid"/>
                    <img id="{{id1}}_correct_image" src="/{{stage}}/assets/images/true.gif" />
                  </label>
                  <label for="{{id1}}_incorrect">
                    <input class="invalid-button word {{invalid_class_1}}" id="{{id1}}_incorrect" type="radio" name="word:{{id1}}" value="invalid"/>
                    <img id="{{id1}}_incorrect_image" src="/{{stage}}/assets/images/false.gif" />
                  </label>
                  {{word1}}
                </div>
                <div>
                  <label for="{{id2}}_correct">
                    <input class="valid-button word {{valid_class_2}}" id="{{id2}}_correct" type="radio" name="word:{{id2}}" value="valid"/>
                    <img id="{{id2}}_correct_image" src="/{{stage}}/assets/images/true.gif" />
                  </label>
                  <label for="{{id2}}_incorrect">
                    <input class="invalid-button word {{invalid_class_2}}" id="{{id2}}_incorrect" type="radio" name="word:{{id2}}" value="invalid"/>
                    <img id="{{id2}}_incorrect_image" src="/{{stage}}/assets/images/false.gif" />
                  </label>
                  {{word2}}
                </div>
                <div>
                  <label for="{{id3}}_correct">
                    <input class="valid-button word {{valid_class_3}}" id="{{id3}}_correct" type="radio" name="word:{{id3}}" value="valid"/>
                    <img id="{{id3}}_correct_image" src="/{{stage}}/assets/images/true.gif" />
                  </label>
                  <label for="{{id3}}_incorrect">
                    <input class="invalid-button word {{invalid_class_3}}" id="{{id3}}_incorrect" type="radio" name="word:{{id3}}" value="invalid"/>
                    <img id="{{id3}}_incorrect_image" src="/{{stage}}/assets/images/false.gif" />
                  </label>
                  {{word3}}
                </div>
              </div>
              {{/tab}}
            </div>
            <input id="vspt-send-button" type="button" value="{{submit}}" disabled/>
          </form>
          <div id="confirm-send-dialog" class="dialang-dialog" title="{{confirmationTitle}}">
            <div class="dialang-dialog-content">
              <p>{{confirmsendquestion}}</p>
              <div id="confirmation-button-table">
                <div>
                  <div><button id="confirm-send-yes"><img src="/{{stage}}/assets/images/yes.gif"/></button></div>
                  <div><button id="confirm-send-no"><img src="/{{stage}}/assets/images/no.gif" width="58" height="58"/></button></div>
                </div>
                <div>
                  <div>{{yes}}</div><div>{{no}}</div>
                </div>
              </div>
            </div>
          </div> <!-- /confirm-send-dialog -->
          <div id="confirm-skip-dialog" class="dialang-dialog" title="{{confirmationTitle}}">
            <div class="dialang-dialog-content">
              <p>{{{warningText}}}</p>
              <div id="confirmation-button-table">
                <div>
                  <div><button id="confirm-skip-yes"><img src="/{{stage}}/assets/images/yes.gif"/></button></div>
                  <div><button id="confirm-skip-no"><img src="/{{stage}}/assets/images/no.gif" width="58" height="58"/></button></div>
                </div>
                <div>
                  <div>{{yes}}</div><div>{{no}}</div>
                </div>
              </div>
            </div>
          </div> <!-- /confirm-skip-dialog -->
