                <h1 id="vsptfeedback-title">{{title}}</h1>
                <div id="vsptfeedback-text">{{yourscore}}<span id="score"><span></div>
                <div class="bottom-margin"></div>
                <div id="vsptfeedback-tabs">
                    <ul>
                        <li><a href="#tabs-1">901 - 1000</a></li>
                        <li><a href="#tabs-2">601 - 900</a></li>
                        <li><a href="#tabs-3">401 - 600</a></li>
                        <li><a href="#tabs-4">201 - 400</a></li>
                        <li><a href="#tabs-5">101 - 200</a></li>
                        <li><a href="#tabs-6">0 - 100</a></li>
                    </ul>
                    <div id="tabs-1">
                        <p>{{levelv6}}</p>
                    </div>
                    <div id="tabs-2">
                        <p>{{levelv5}}</p>
                    </div>
                    <div id="tabs-3">
                        <p>{{levelv4}}</p>
                    </div>
                    <div id="tabs-4">
                        <p>{{levelv3}}</p>
                    </div>
                    <div id="tabs-5">
                        <p>{{levelv2}}</p>
                    </div>
                    <div id="tabs-6">
                        <p>{{levelv1}}</p>
                    </div>
                </div> <!-- /tabs -->
                <div class="bottom-margin"></div>
